{% load static %}
<div class="mb-3">
     <div class="text-center ">
          <div class="fs-5">Sponsored</div>
          <!-- <div class="double-underline"></div> -->
    </div>
    
    <div class="mb-3">
        {% for adrcol in adright %}
        <a href="{{adrcol.ad_url}}" target="_blank"><img class="img-fluid w-100 news-image"
                src="../upload/{{adrcol.ad_image}}" alt="{{adrcol.ad_url}}"></a>
        {% endfor %}
    </div>
</div>
<div class="my-1" >
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
        crossorigin="anonymous"></script>
    <!-- News Page SQ Sidebar -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5922835412614482" data-ad-slot="2309629217"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="mb-3 ">
     <div class="mb-3">
          <div class="section-title">Trending News</div>
          <div class="double-underline"></div>
        </div>
    
        <div class="">
        {% for trendingpost in trendpost %}
        <div class="card-bg-dark mb-3 p-2" style=" border-radius: 8px;">

            <a class="news-title" href="/{{trendingpost.slug}}">
                
                <img src="{{trendingpost.post_image.url}}" alt="{{trendingpost.post_title}}" class="img-fluid">

                <p class="my-2 fw-bold">
                    {{ trendingpost.post_title|slice:":60"|safe }}...
                </p>

                <p class="news-description">
                    {{ trendingpost.post_short_des|slice:":100"|safe }}
                </p>

            </a>

            <div class="d-flex align-items-center px-2 my-1 news-meta">
                <small>{{ trendingpost.schedule_date|date }}</small>
                <small class="ms-2">{{ trendingpost.schedule_date|time }}</small>
                <small class="ms-2">
                    <i class="far fa-eye"></i>
                    {{ trendingpost.post_status|add:trendingpost.viewcounter }}
                </small>

                <div class="ms-auto">
                    {% include 'share.html' with posts=trendingpost %}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

</div>
<style>
    .news-card {
        border-bottom: 1px solid #ddd;
    }

    .news-header {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

    .news-image {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    .news-content {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }

    .news-title {
        font-size: 20px;
        margin-bottom: 8px;
        line-height: 1.5;
        font-weight: 600;
        

    }

    .news-description {
        line-height: 1.4;
        
    }

    .news-meta {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        border-top: 1px solid #eee;
    }

    .news-meta span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .news-meta img {
        width: 14px;
        height: 14px;
    }

  a {
    text-decoration: none !important;
  }

  li {
    list-style: none !important;
  }
</style>